<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
</head>
<body>
    <form method="post" action="/register">
        <h2>Registration</h2>
        Name: <input type = "text" placeholder="Enter Your Name" name = "name"><br>
        email: <input type = "email" placeholder = "Enter Your Email" name = "email"><br>
        Password: <input type = "password" placeholder = "Enter New Password" name = "password"><br>
        Confirm Password: <input type = "password" placeholder = "Re-enter New Password" name = "cofirm-pass"><br>
        <input type = "submit" value = "Submit">
    </form>
</body>
</html>